* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  height: 100vh;
  font-family: "Red Hat Display", sans-serif;
  background-image: url(./images/pattern-background-desktop.svg);
  background-size: cover;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 100px auto 0px;
}

.container,
.card {
  overflow: hidden;
  width: 375px;
  height: 525px;
  background-color: hsl(225, 100%, 98%);
  border-radius: 15px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.container__img {
  width: 375px;
  height: 150px;
}

.container__title {
  padding-top: 30px;
  text-align: center;
  font-size: 25px;
  font-weight: 900;
}

.container__text {
  padding-top: 25px;
  margin: 0% 10%;
  text-align: center;
  font-weight: 100;
  color: hsl(224, 23%, 55%);
}

.container-plan__subtitle {
  margin-left: 25%;
  font-weight: 900;
  font-size: 17px;
}

.container-plan__icon {
  position: relative;
  top: 45px;
  left: 45px;
  width: 35px;
  height: 35px;
}

.container-plan__price {
  padding-top: 5px;
  margin-left: 25%;
  color: hsl(224, 23%, 55%);
}

.container-plan__change {
  position: relative;
  left: 70%;
  bottom: 27px;
  font-weight: bold;
  color: hsl(223, 47%, 23%);
}

.container-payment {
  margin-top: 20px;
  text-align: center;
}

.container-payment__payment {
  display: block;
  margin: 10px 50px;
  line-height: 40px;
  text-decoration: none;
  border-radius: 8px;
  background-color: hsl(245, 75%, 52%);
  color: hsl(225, 100%, 98%);
}

.container-payment__cancel {
  padding-top: 10px;
  font-size: 17px;
  text-decoration: none;
  color: hsl(224, 23%, 55%);
}

.attribution {
  margin-top: 15px;
  text-align: center;
  font-size: 11px;
  color: hsl(228, 45%, 44%);
}
